* {
  margin: 0;
  border: 0;
  padding: 0;
}
html {
  font-size: 62.5;
  font-family: Barrio;
}
/*===== EFEITO NEON =====*/
@keyframes neon {
  from {
    filter: drop-shadow(0 0 0 white);
  }
  to {
    filter: drop-shadow(10px 30px 40px white);
  }
}

a {
  animation: neon 1.5s alternate infinite ease-in-out;
  transition: 0s;
  display: inline-flex;

  text-decoration: none;
  color: #fff;
  text-shadow: 2px 2px 2px black;
}
/*===== EFEITO NEON END =====*/

a:hover {
  transition: 0s;
  transform: translateY(-3px);

  color: yellow;
  text-shadow: 2px 2px 2px black;
}

a .menu {
  animation: neon 1.5s alternate infinite ease-in-out;
  transition: 0s;
  display: inline-block;

  text-shadow: none;
  text-decoration: none;
  color: white;
}

a .menu:hover {
  transition: 0s;
  transform: translateY(-3px);

  color: yellow;
  text-shadow: none;
}

body {
  background-color: yellow;
  background-image: url(https://i1.wp.com/i.pinimg.com/originals/db/f9/9c/dbf99cb082056b1a3096e9312a5d5263.jpg);

  background-position: center;
  background-size: 250px 250px;
  background-attachment: fixed;
}
header {
  width: 100%;
  background-color: #fff;
  color: black;
  font-family: Barrio;
  position: fixed;
}
nav {
  text-align: center;
  font-size: 1.6rem;
  word-spacing: 35px;
  font-weight: bold;

  position: fixed;
  width: 100%;
  border-color: black;
}

nav #imagem {
  background-image: url(img/fd0d96ed-3c93-4c22-84c3-a69a1ba9c2da.jfif);
  width: 100%;
  height: 100%;
  border-bottom: 3px solid black;
}

a img .icones {
  display: inline-block;
  transition: 1s;
}

a img .icones:hover {
  transition: 1s;
  transform: translate3d(-5px);
}

@font-face {
  font-family: Barrio;
  src: url(font/Simpsonfont.ttf);
}

.container1 {
  display: flex;
  justify-content: center;
}
/*====== Vidros ======*/
.vidro {
  border: .188rem solid;
  border-radius: 2.5rem;
  margin: 3.125rem;
  margin-top: 4.375rem;
  width: 34.375rem;
  height: 40.625rem;
  background-color: rgba(73, 205, 245, 0.5);
}

.vidro-personagens {
  border: .188rem solid black;
  border-radius: 2rem;

  margin: 3.125rem;
  margin-top: 4.375rem;

  width: 34.375rem;
  min-width: 34.380rem;
  height: 41.999rem;

  background-color: rgba(73, 205, 245, 0.5);
}

.vidro-personagens p { 
  text-shadow: yellow 3px;
  color: yellow;
  font-size: 16px;
  word-spacing: 1.6px;
  padding-top: 1rem;
  padding-left: 1rem;
 
}

#avatar {
  width: 150px;
  height: 150px;
  border-radius: 150px;
  margin-top: 15px;
  margin-left: 15px;
  border-bottom-left-radius: 2px 2px black;
}

.icones {
  width: 20px;
  height: 20px;
}

.info-ficha {
  color: black;
  text-align: center;
  font-size: 10px;

  text-shadow: none;
}

a .info-ficha {
  margin-bottom: 4rem;
  align-items: center;
}

.info-ficha ul {
  display: flex;
  align-items: ;
}

.grid ul {
  margin-bottom: 2rem;
}

.grid-info {
  padding-left: 10px;
  padding-top: 10px;

  width: 150px;
  height: 300px;

  background-color: rgba(222, 184, 135, 0.719);
}

#personagens {
  color: #fff;
  text-shadow: black 1px 2px 2px;
  text-align: center;
  font-size: 2.5rem;

  
}

.personagem {
  background-color: rgba(1, 2, 2, 0.5);
 
}

.img-sinopse {
  float: left;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-left: 1.25rem;
}

.historias {
  display: grid;
  grid-template-columns: 20rem 17rem 20rem 20rem;

  
}
